<div class="container">
  <div class="card">
    <h5 class="card-header">AJOUTER UN PRODUIT</h5>
    <div class="card-body">
      <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
        <div class="mb-3">
          <label for="name" class="form-label">Nom</label>
          <input type="text" name="name" ngModel class="form-control" id="name" placeholder="Samsung S21" required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Prix</label>
          <input type="number" name="price" ngModel class="form-control" id="price" placeholder="5000" required>
        </div>
        <div class="mb-3">
          <label for="imageUrl" class="form-label">Image Url</label>
          <input type="text" name="imageUrl" ngModel class="form-control" id="imageUrl" placeholder="" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description" ngModel id="description" rows="3" required></textarea>
        </div>
        <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
</div>
