

<li>
  <span>{{ product.name | uppercase }}</span>
  <br>
  <em>{{ product.price }}</em>
  <br>
  <em>{{ product.description }}</em>
</li>
<!--<h1>{{ titre }}</h1>
<ul>
  <li *ngFor="let p of products; let i = index; let l = last; let im= even">
    <span [ngClass]="{'badge-danger': im}">{{ p.name | uppercase }}</span>
    <br>
    <em>{{ p.price }}</em>
    <br>
    <em>{{ p.description }}</em>
  </li>
</ul>
{{ registerDate | date:'short' | lowercase }}


<button *ngIf="showBtn" type="button" [ngClass]="['btn', 'btn-outline-primary']">Hello</button>-->
