<div class="card m-b-30">
  <div class="card-body row">
    <div class="col-10">
      <a href=""><img src="{{product.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
    </div>
    <div class="col-10 card-title align-self-center mb-0">
      <h5>{{product.name}}</h5>
      <p class="m-0">{{product.description}}</p>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Prix: {{ product.price }} XAF </li>
  </ul>
  <div class="card-body">
    <div class="float-right btn-group btn-group-sm">
      <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Modifier"><i class="fa fa-pencil"></i> </a>
      <a (click)="deleteProduct(product)" class="btn btn-danger tooltips" data-placement="top"
         data-original-title="Supprimer"><i class="fa fa-times"></i></a>
    </div>
  </div>
</div>
