<div class="container" id="list-container">
  <div class="row">
    <div class="card col-12">
      <div class="card-header">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search product" aria-label="Search">
        </form>
      </div>
      <div class="card-body">
        <h5 class="card-title">Liste des produits</h5>
        <div class="row">
          <div *ngFor="let product of products" class="col-md-6 col-xl-3">
            <app-detail-produit [product]="product" (productDelete)="deleteProduct($event)"></app-detail-produit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
